*{
  margin:0;
}

.particles-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: auto;
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
}

