.page2-container {
  position: relative;
  background-color: black;
  width: 100%;
  display: flex;
}

.fixed-text-container {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 150px;
  padding-left: 7%;
  z-index: 10;
  pointer-events: none;
}

.fixed-text-container p {
  color: white;
  font-size: 28px;
  line-height: 1.3;
  font-family: "Orbitron", sans-serif;
}

.images-column {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 150px 0;
}

.img-panel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-holder {
  perspective: 1000px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.img-holder img {
  width: 500px;
  height: auto;
  background-color: black;
  transform-style: preserve-3d;
  will-change: transform;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

@media (max-width: 768px) {
  .page2-container {
    flex-direction: column; /* Текст болон зургийг дээр дээр нь гаргах */
  }

  .fixed-text-container {
    position: relative; /* Sticky-г болиулж, текстээ зургийн дээр гаргах */
    width: 90%;
    height: auto;
    padding: 60px 20px 20px 20px;
    justify-content: center;
    align-items: center;
    text-align: start;
  }

  .fixed-text-container p {
    font-size: 16px;
    width: 90%;
    margin-left: 100px;
  }

  .images-column {
    width: 60%;
    padding: 20px 0px 180px 0;
    gap: 20px;
    margin-left: 100px;
  }

  .img-holder img {
    width: 85%;
    max-width: 450px;
  }
}

/* Маш жижиг гар утас (max-width: 480px) */
@media (max-width: 480px) {
  .fixed-text-container p {
    font-size: 14px;
    width: 90%;
    margin-left: 50px;
  }

  .images-column {
    gap: 20px;
    margin-left: 90px;
  }
}
